@tailwind base;
@tailwind components;
@tailwind utilities;


/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #171717; /* thumb track */
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #171717; /* neutral-900 */
}

::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* neutral-700 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* blue-600 */
}


html {
  scroll-behavior: smooth;
}
